:host{
    height: 40vh;
    display: block;
}

p{
    text-align: center;
    font-weight: bold;
}

div.item-container{
    margin: 10% 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

div.price-container{
    border-radius: 50%;
    background-color: #a1cac5;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 0;
}

p.price{
    line-height: 60px;
    font-weight: bolder;
    font-size: 34px;
}

div.img-container{
    margin: 0 auto;
}

img{
    height: 38vh;
    margin: auto;
    display: block;
}

div.img-container p{
    font-size: 18px;
    font-weight: 900;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    div.img-container p{
        font-size: 26px;
    }
}
